.preloader{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #24262b;
}

#loader{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99999;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -45px;
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #24262b;
	border-bottom: 10px solid #24262b;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.card{
    border: 0px;
}

.card-img-overlay{
    padding: 5rem;
}

.dropdown-menu{
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

.dropdown-item{
    color: rgba(255,255,255,0.5);
}

.navbar-text .social-links a{
    padding: 10px;
    font-size: x-large;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
	background-color: rgba(0,0,0,0.7) !important;
	backdrop-filter: blur(2px);
}

.nav-item{
  	padding: 10px;
}

.nav-item:hover{
	color: #ffffff;
	font-weight: 600;
}

.headings{
	text-decoration: underline;
    text-decoration-color: red;
    text-underline-position: under;
}

.aboutme{
	background: #24262b;
	transition: 1s
}

#projectimg{
	box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
	filter: grayscale(100%);
	transition: 1s;
}

#projectimg:hover{
	box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);
}

.project:hover #projectimg{
	filter: grayscale(0%);
	transition: 1s;
}

.scroll-up #up{
	background-color: #0000007d;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 14px;
	border-radius: 21px;
	position: fixed;
	z-index: 999;
	bottom: 3.8em;
	right: 0.8em;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}

.scroll-up #plus{
	background-color: #0000007d;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 14px;
	border-radius: 21px;
	position: fixed;
	z-index: 999;
	bottom: 0.8em;
	right: 0.8em;
	transition: 0.5s;
}

#arrow{
	font-size: 25px;
	padding-top: 5px;
}

#cross{
	font-size: 20px;
	padding-top: 10px;
}

.scroll-up #whatsapp{
	background-color: #20d620;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 24px;
	border-radius: 21px;
	position: fixed;
	z-index: 999;
	bottom: 4.0em;
	right: 0.5em;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}

.scroll-up.active #plus{
	transform: rotate(130deg);
	transition: 0.5s;
}

.scroll-up.active #whatsapp, .scroll-up.active #up{
	opacity: 1;
	visibility: visible;
	transition: 0.5s;
}

.progress{
	margin-left: 11%;
	margin-right: 11%;
	height: 10px;
	border-radius: 10px;
	background-color: #ffffff;
}

.form-group{
	margin-top: 20px;
}

.form-group input, .form-group textarea{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #ffffff;
	border-radius: 20px;
	margin-top: 20px;
	background-color: #ffffff;
	color: #24262b;
}

input:focus, textarea:focus{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	outline: 0;
}

input:hover{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

textarea:hover{
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

textarea{
	resize: none;
}

input[type="text" i] {
    padding: 6px 12px;
}

iframe{
	width: 100%;
	box-shadow: 2px 2px 12px (0,0,0,0.3);
}

::placeholder{
	color: #bbbbbb;
}

.modal-content{
	border-radius: 20px;
	box-shadow: 2px 2px 12px (0,0,0,0.3);
}

#close{
	border-radius: 20px;
}

.modal-header{
	border-bottom: 0;
}

.modal-footer{
	border-top: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer .container{
	max-width: 1170px;
	margin:auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
.footer .row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col ul{
    list-style: none;
    padding-left: 0px;
}

.footer{
	background-color: #24262b;
    padding: 30px 0;
}
.footer-col{    
   width: 25%;
   padding: 0 20px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 0px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
}
